html{
    height: 100%;
}

body{
    height: 100%;
    margin : 0;
    padding: 0;
    font-family: 'Ariel', serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: right;
    font-family: 'Ariel', serif;
}
.nav > li {

    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 14px;
    font-weight: bold;
}

.nav > li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav > li > a:hover:not(.active) {
    background-color: #111;
}
.active { 
    background-color: #4CAF50;
 }


.logo {
    color: #000000;
    float: left;
    padding-left:25px;
    padding-top: 20;
    font-style: 16px;
    font-weight: bold;
}
.logo > a {
    text-decoration: none;
    color: #000000;
}
.banner{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

.banner >.banner-image{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

.banner > .img-circle > a >img {
    position: absolute;
    width:auto;
    height:80%;
    top:10%;
    right:3%;
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


.banner > .img-circle > a > img:hover {
    opacity: 0.8;
    height:82%;
    top:9%;
    right:2.75%;
}
.main-description {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-size: 1.6vw;
}
.about-banner-description {
    font-family: 'Ariel', serif;
    position: absolute;
    color: #FFFFFF;

    top: 58%;
    left: 38%;
    transform: translate(-50%, -50%);

    font-size: 2.0vw;
}

.flyco-header {
    display: inline-block;
    margin: 10px;
}

.main-content {

    background-image: url("images/BackgroundAbout.png"); 
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    padding: 25px;
    margin:0 auto;
    width: 800px; 
    height: auto; 
    border-radius: 15px;
    border: 2px solid grey;
}
.main-content-link{
    text-decoration: none;
    color: black;
}

.main-content > h1 {
    text-align: center;
}
.main-content > img {
   width: 50%;
   height: auto;
   margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
   display: block;
}
.resume-with-background {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%
}


.resume-with-background > p {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
}
.resume > p{

    color: #ffffff;
    padding: 10px 0 0px 0;
    font-size: 20px;
}
.link {
    color: white;
}

.link:hover {
    color: lightblue;
}
.resume-with-background > object{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ffffff;
    width: 1000px;
    height: 95%;
}
.resume-with-background > img {
    width: 100%;
    height: 100%;
}
.header-contact {
text-align: center; 
}

.contact-form{
   text-align: center; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
}
input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    margin: 6px auto;
    resize: vertical;
}
input[type=email] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    margin: 6px auto;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.about-content {
    position:absolute;
}
.column {
    box-sizing: border-box;
    float: left;
}
.left{
    width: 33.33333%;
    }
.left > img{
    outline: 2px solid tan;
    max-width:100%;
}

.about-img {
    outline: 2px solid tan;

    max-width:100%;
    max-height:100%;
   

}
.right{
    width: 66.66666%
}
.row:after{
    content: "";
    display:table;
    clear: both;
}
.about-content > .img1 {
   width: 33%;
   left: 0px;
   position: absolute;
   outline: 2px solid tan;
}
.about-content > .img2 {
   width: 33%;
   float: left;
   left: 0px;
   outline: 2px solid tan;
}

 .description-background {
    background-color: #FFFFFF;
    width: 66.6666%;
    position: absolute;
    outline: 2px solid grey;
    min-height: 100%;
    height:auto;
    background-image: url("images/BackgroundAbout.png"); 
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;


}
.description-background > h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    color: #303030;
    text-align:center;
}
.description-background > h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.3;
    color: #777;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
}
.description-background > h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    word-wrap: break-word;
}
.description-background > p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
    color: #666;
    text-indent: 50px;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
}

.cs294-content {
    background-image: url("images/BackgroundAbout.png");

    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    padding: 25px;
    margin:0 auto;
    width: 800px; 
    min-height: 100%;
    height:auto;
    border-radius: 15px;
    border: 2px solid grey;
}



.cs294-content > h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
    color: #303030;
    text-align:center;
}
.cs294-content > h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.3;
    color: #777;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
}
.cs294-content > h2 > a {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.3;
    color: #777;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
}
.cs294-content > p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
    color: #666;
    text-indent: 50px;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
