html{
	height: 100%;
}
body{
    height: 100%;
	margin : 0;
	padding: 0;
	font-family: 'Ariel', serif;
}
.nav {
	background-color: #FFFFFF;
	color: #000000;
	list-style: none; 
	text-align: right;
	padding: 20px 0 0 0px;
}
.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 14px;
	font-weight: bold;
}

.nav > li > a{
	text-decoration: none;
	color: #000000;
}

.nav > li > a:hover{
	color: #c1c1c1;
}

.logo {
	color: #000000;
	float: left;
	padding-left:25px;
	padding-top: 20;
	font-style: 16px;
	font-weight: bold;
}
.logo > a {
	text-decoration: none;
	color: #000000;
}
.banner{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
}

.banner >.banner-image{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
}

.banner > .img-circle > a >img {
	position: absolute;
	width:auto;
	height:80%;
	top:10%;
    right:3%;
	display: block;
	float: right;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}


.banner > .img-circle > a > img:hover {
 	opacity: 0.8;
 	height:82%;
 	top:9%;
    right:2.75%;
}
.main-description {
	position: absolute;
	color: #FFFFFF;
	top: 25%;
	left: 33%;
	font-size: 22px;
    font-size: 1.4vw;
}
.resume-with-background {
    position: relative;
    text-align: center
    top: 0;
	left: 0;
	width: 100%
}


.resume-with-background > p {
	position: absolute;
	top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 20px;
}
.resume > p{

	color: #ffffff;
	padding: 10px 0 0px 0;
	font-size: 20px;
}
.link {
	color: white;
}

.link:hover {
	color: lightblue;
}
.resume-with-background > object{
	position: absolute;
	top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
	color: #ffffff;
	width: 1000px;
	height: 95%;
}
.resume-with-background > img {
    width: 100%;
    height: 100%;
}
.header-contact {
    text-align: center;
}

.contact-form{
   text-align: center; 
}
